
debug/
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.dgspec.json
.vs/MothBot/DesignTimeBuild/.dtbcache.v2
obj/project.assets.json
obj/project.nuget.cache
obj/project.assets.json
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.dgspec.json
