
debug/
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.dgspec.json
.vs/MothBot/DesignTimeBuild/.dtbcache.v2
obj/project.assets.json
obj/project.nuget.cache
obj/project.assets.json
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.g.props
obj/MothBot.csproj.nuget.dgspec.json
obj/MothBot.csproj.nuget.dgspec.json
obj/MothBot.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/project.nuget.cache
obj/Release/netcoreapp3.1/MothBot.csprojAssemblyReference.cache
obj/Release/netcoreapp3.1/MothBot.assets.cache
obj/project.nuget.cache
obj/project.assets.json
obj/MothBot.csproj.nuget.dgspec.json
obj/Release/netcoreapp3.1/MothBot.assets.cache
obj/Release/netcoreapp3.1/MothBot.csprojAssemblyReference.cache
.vs/MothBot/DesignTimeBuild/.dtbcache.v2
.vs/MothBot/v16/.suo
